@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&display=swap");

* {
  font-family: "Josefin Slab", serif;
}

a {
  color: black;
}
a:hover {
  text-decoration: none;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  width: 100vw;
  height: 100vh;
}

.main h1 {
  font-size: 5em;
}

.mainBox {
  display: flex;
  align-items: center;
}

.title {
  flex-flow: column;
}

.subTitle {
  display: flex;
  flex-flow: column;
}

@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
img {
  width: 150px;
  height: 150px;
  cursor: pointer;
}
img:hover,
img:focus,
img:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
